@media(max-width:992px) {
    .container {
        min-width: 960px;
    }

    .nav_shop {
        display: flex;
        justify-content: center;
    }

    .shop h2 {
        text-align: center;
    }

    .shop p {
        text-align: center;
        margin: 0 auto;
        padding: 20px 0 0 0;
    }

    .shop_button {
        display: flex;
        margin: 40px auto 0;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .quality h2 {
        text-align: right;
        padding: 0 100px 30px 0;
    }

    .tradition h2 {
        margin: 0 0 0 60px;
    }

    .tradition_list {
        width: 90%;
    }

    .where h2 {
        margin: 0 0 0 60px;
    }

    .where_left {
        padding: 0;
        margin-left: 50px;
    }

    .where_right {
        padding: 0;
        margin-left: 50px;
    }

    .footer_box {
        width: 590px;
    }
}

@media(max-width: 768px) {
    .container {
        min-width: 720px;
    }

    .shop {
        background: #202023;
        height: 1650px;
    }

    .shop_card-list {
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
        gap: 70px;
    }

    .menu_list {
        flex-direction: column;
        align-items: center;
        width: auto;
    }

    .menu {
        height: 1410px;
    }

    .where h2 {
        text-align: center;
        padding: 66px 0 0 0;
        margin: 0;
    }

    .where_wrapper {
        flex-direction: column;
    }

    .image_where {
        text-align: center;
    }

    .right_side_info {
        width: 70%;
        margin: 0 auto;
    }

    .where_left {
        padding: 0;
        margin: 0;
    }

    .where_right {
        padding: 0;
        margin: 0;
    }

    .where {
        height: auto;
    }

    .footer {
        height: 510px;
    }

    .footer_wrapper {
        flex-direction: column;
    }

    .footer h2 {
        text-align: center;
    }

    .footer h5 {
        text-align: center;
        padding: 14px 0 0 0;
    }
}

@media(min-width: 576px) {

}

@media screen and (min-width: 320px) {

}