@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
        margin: 0 auto;
    }

    .quality {
        height: 735px;
    }
}

@media screen and (max-width: 1199px) {
    .container {
        max-width: 960px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 992px) {
    .container {
        max-width: 720px;
        margin: 0 auto;
    }

    .nav_shop {
        display: flex;
        justify-content: center;
    }

    .shop h2 {
        text-align: center;
    }

    .shop p {
        text-align: center;
        width: 570px;
        margin: 0 auto;
    }

    .shop_button {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

    .shop {
        background: #202023;
        height: 1500px;
    }

    .shop_card-list {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .quatity_list {
        width: 85%;
        margin: 0 auto;
    }

    .tradition_list {
        width: 85%;
    }

    .quality {
        height: 775px;
    }

    .where_wrapper {
        flex-direction: column;
    }

    .where {
        height: 1050px;
    }

    .right_side_info {
        width: 80%;
    }

    .image_where iframe {
        display: flex;
        margin: 0 auto;
    }

    .footer {
        height: 360px;
    }

    .menu_list {
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: auto;
    }

    .menu {
        height: 1340px;
    }

    .quatity_list {
        flex-direction: column;
        align-items: center;
    }

    .quality {
        height: 1380px;
    }

    .footer_box {
        margin-left: 40px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 540px;
        margin: 0 auto;
    }
    .menu_list {
        flex-direction: column;
        align-items: center;
        width: auto;
    }

    .menu {
        height: 1325px;
    }

    .quality_title h2 {
        padding: 0 0 50px 0;
    }

    .quatity_list {
        margin: 0;
    }

    .footer_wrapper {
        flex-direction: column;
    }

    .footer {
        height: 510px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 100%;
        margin: 0 auto;
    }
    .shop_item a {
        font-size: 21px;
    }

    .shop_list {
        width: 530px;
    }

    .shop h2 {
        font-size: 65px;
    }

    .shop p {
        font-size: 20px;
    }

    .quatity_list {
        flex-direction: column;
        align-items: center;
        width: auto;
    }

    .quality {
        height: 1220px;
    }

    .tradition {
        background: #202023;
        height: 1130px;
    }

    .tradition_list {
        flex-direction: column;
        width: auto;
        align-items: center;
        gap: 70px;
    }

    .footer_box {
        width: 86%;
    }
    
}