@import url(./shop.css);
@import url(./menu.css);
@import url(./quality.css);
@import url(./tradition.css);
@import url(./where.css);
@import url(./footer.css);
@import url(./media.css);




.container {
    max-width: 1140px;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
}

